 /* aproach section code is here  */
.aproach{
    padding-top: 55px;
    padding-bottom: 55px;
    background: #e6f4f170;
}
  /* aproach header code here  */
.aproach-header{
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #002A57;
}
    /* aproach all design code here  */
.aproach-item{
    position: relative;
      width: 80%;
    display: flex;
     align-items: center;
}



.aproach-list{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: -50px;
    top: 33%;
    background: linear-gradient(180deg, #002A57 0%, #087AB9 100%);
    color: #ffffff;
    border: 6px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 50px 1px rgba(19, 0, 124, 0.18);
    
   }
.aproach-text{

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    width: 90%;
    padding: 24px 24px 24px 69px;
    text-align: left;
    background: #282F34;
    box-shadow: 2px 5px 10px rgba(17, 15, 15, 0.2);
    border-radius: 0px 20px 20px 0px;
}
.aproach-text .requirment{
    width: 80%;
font-size: 15px;
line-height: 20px;
letter-spacing: 0.5px;
color: rgba(237, 251, 255, 0.6);
}
.requirment h4{
    font-weight: 500;
    font-size: 23px;
    line-height: 31px;
    color: #E6F4F1;
    margin-bottom: 8px;
}
