.App {
  text-align: center;
  overflow-x: hidden;
}
.days{
  text-align: center;
  overflow-x: hidden;
}

body{
 
  font-family: 'Manrope', sans-serif;
  overflow-x: hidden;
}

body.light{
  background: rgb(244 253 255);
}
body.dark{
  background: rgba(0, 0, 0, 0.822);
}
